.backg {

}

.homeheader {
font-family: Arial, Helvetica, sans-serif;
font-size: 50px;
font-weight: bold;
}

.homeheader2 {
font-family: Arial, Helvetica, sans-serif;
font-weight: normal;
}
.project1 {
    max-width: 50%;
}
.project2 {
    max-width: 50%;
}  
.project11 {
    font-weight: normal;
    max-width: 50%;
}
.project21 {
    font-weight: normal;

}

